Server:
  Name: golang-clean-architecture
  Version: "v0.0.1"
  RPCPort: 8080
  RESTPort: 9090
  Debug: false
  Env: local
  ReadTimeOut: 5s
  WriteTimeOut: 5s

Database:
  Host: mysql-db
  Port: 3306
  Name: users
  User: mysql
  Password: pwd

Authentication:
  Key: DoWithLogic!@#
  SecretKey: s3cr#tK3y!@#v001
  SaltKey: s4ltK3y!@#ddv001
