server:
  name: golang-clean-architecture
  version: "v0.0.1"
  rpc_port: 8080
  rest_port: 9090
  debug: false
  env: local
  read_time_out: 5s
  write_time_out: 5s

database:
  host: localhost
  port: 3306
  name: users
  user: mysql
  password: pwd

authentication:
  key: DoWithLogic!@#
  secret_key: s3cr#tK3y!@#v001
  salt_key: s4ltK3y!@#ddv001